<form action="new-bookmark" method="post">
  <div>
    <label for="bookmark_url">Bookmark:</label>
    <input type="text" name="bookmark_url">
  </div>
  <div>
    <button type="submit">Add</button>
  </div>
</form>
