<h1> Bookmark list: </h1>
<ul>
    <% @bookmarks.each do |bookmark| %>
      <form action="/delete" method ="post">
        <li>
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
        <input type='hidden' name='title' id='<%= bookmark.title %>' value='<%= bookmark.title %>'></input>
        <button type="submit">Delete</button>
      </li>
      </form>
      <br>
    <% end %>
</ul>
